**/logs
# IntelliJ
.idea/
*.iws
*.iml
**/*.iml
*.ipr

#Eclipse
.springBeans
.classpath
.settings/
.loadpath
.project

.gradle/
output/
build/
out/
bin/
gen/
target/
classes/
**/build
*.class
.temp/
.timestamp
rebel.xml
*.DS_Store
${java.io.tmpdir}/
data/temp/
data/.timestamp/
gradleUnitTestOutput/
gradleIntTestOutput/
.springBeans